*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;


}

.vivara-imagem{
    width: 3%;
}
#imgpos{
    position: absolute;left: 40px; top: 5px;
   
}
#imgpos2{
    position: absolute;right: 30px; top: 30px;
}
#imgpos3{
    position: absolute;right: 100px; top: 40px;
}


.vivara{
    background-image: linear-gradient(#FFFFFF);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.vivara-div-conteudo{
    width: 35%;
}

.vivara-titulo{
    padding: 24px 0;
}