*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;


}

#frase1{
    position: absolute;
    top: 41%;
    left: 682.5px;
}
#frase2{
    position: absolute;
    top: 45%;
    left: 730.5px;
}
#joias{
    position: absolute;
    top: 15%;
    left: 15%;
}#relogios{
    position: absolute;
     top: 15%;
    left: 30%;
}#acessorios{
    position: absolute;
     top: 15%;
    left: 45%;
}#masculino{
    position: absolute;
     top: 15%;
    left: 60%;
}#sale{
    position: absolute;
     top: 15%;
    left: 80%;
}

.vivara-imagem{
    width: 3%;


.vivara{
    background-image: linear-gradient(#FFFFFF);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.vivara-div-conteudo{
    width: 35%;
}

.vivara-titulo{
    padding: 24px 0;
}
}
#imgpos{
    position: absolute;left: 40px; top: 5px;
   
}
#imgpos2{
    position: absolute;right: 900px; top: 30px;
}
#imgpos3{
    position: absolute;right: 830px; top: 39px;
}
#imgpos4{
    position: absolute;left: 700px; top: 25px;
}
#imgpos5{
    position: absolute;right: 200px; top: 25px;
}
#imgpos6{
    position: absolute;right: 80%; top: 200px;
    border-radius: 2%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
#imgpos7{
    position: absolute;right: 60%; top: 200px;
    border-radius: 2%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
#imgpos8{
    position: absolute;right: 40%; top: 200px;
    border-radius: 2%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
#imgpos9{
    position: absolute;right: 20%; top: 200px;
    border-radius: 2%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
#mulhervivara{
    position: absolute;
    top: 50%;
    left: 600.5px;
    border-radius: 2%;
    border-style: solid;
    border-color: black;
    border-width: 1px;

}
